{% extends 'reader-base.html' %}
{% load static %}
{% load pipeline %}

{% block body_block %}
{{ block.super }}
<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      {% if object_list.count > 0 %}
        <h1> You are tracking the following stories. </h1>
      {% else %}
        <h1> You are not currently tracking any stories. </h1>
      {% endif %}
      <ul>
      {% for alert in object_list %}
      <li>
        <h2>
          {{ alert.story.title }}
        </h2>
        <form method="post" action= "{% url 'stop_tracking_view' alert_id=alert.id %}">
          {% csrf_token %}
          <button type="submit">Stop Tracking</button>
        </form>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
