{% extends 'reader_base.html' %}
{% load static %}
{% load pipeline %}
{% load i18n %}

{% block css_block %}
{{ block.super }}
    {% stylesheet 'reader_home' %}
{% endblock %}

{% block body_block %}
{{ block.super }}
<div class="container">
  <div class="row" id="main-row">
    <div class="col-sm-offset-2 col-sm-8">
      <h1 id="main-heading">Tracked stories</h2>
      {% for alert in object_list %}
      <div class="story-container">
        <div class="row">
          <div class="col-md-8">
            <h2 class="story-title">
              {{ alert.story.title }}
              (14)
            </h2>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <!---form method="post" action= "{% url 'stop_tracking_view' alert_id=alert.id %}">
          {% csrf_token %}
          <button type="submit">Stop Tracking</button>
        </form-->
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
