#heading {

  /* space between the heading and the navbar */

  margin: 1.5em 0 1.5em 0;
}

#topic {

  /* highlight the topic by using bold text and red theme color */

  color: #FF5A5F;
  font-weight: 700;
}

#call-to-action {
  margin: 0 0 1.5em 0;
}


#subscription {
  margin-bottom: 2em;
}

#subscription input[type="email"] {
  background: transparent;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgb(150, 150, 150);
  width: 100%;
  margin-bottom: 1.5em;
  vertical-align: bottom;
  line-height: 2em;
  font-size: 1.4em;
}

.btn {
  font-size: 1.5em;
}

#existing-users-login {
  color: rgb(125, 125, 125);
}
