{% extends 'base.html' %}
{% load static %}
{% load pipeline %}
{% load i18n %}

{% block css_block %}
{{ block.super }}
    {% stylesheet 'signup_successful' %}
{% endblock %}

{% block body_block %}
{{ block.super }}
<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h1>
          {% blocktrans %}
          We couldn't activate your email.
          {% endblocktrans %}
        </h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}
