{% extends 'base.html' %}
{% load static %}
{% load pipeline %}
{% load i18n %}

{% block css_block %}
{{ block.super }}
    {% stylesheet 'login' %}
{% endblock %}

{% block body_block %}
{{ block.super }}
    <div class="container container-table">
      <div class="row vertical-center-row">
        <div class="row">
          <div class="col-sm-offset-4 col-sm-4">
            <form id="login" method="post" action="{% url 'login_view' %}">
              {% csrf_token %}

              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}

              {% for field in form.visible_fields %}
              <div class="field-wrapper {% if field.errors %}
                   errors{% endif %}">
                {{ field }}
                <div class="field-errors">
                  {% for error in field.errors %}
                  <p>
                    {{ error| escape }}
                  </p>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
              <input type="hidden" name="next" value="{{ next }}" />
              <button class="tracking-btn" type="submit">
                {% trans "Log In" %}
              </button>
            </form>
            <!--div id="forgot-password">
              Forgot password?
              <a href="#">Reset it.</a>
            </div-->
            <div id="sign-up">
              {% trans "Don't have an account yet?" %}
              <a href="/signup">
                {% trans "Sign Up" %}
              </a>.
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block js_block %}
{{ block.super }}
{% endblock %}
