{% extends 'base.html' %}
{% load static %}
{% load pipeline %}
{% load i18n %}

{% block css_block %}
{{ block.super }}
    {% stylesheet 'signup' %}
{% endblock %}

{% block body_block %}
{{ block.super }}
    <div class="container container-table">
      <div class="row vertical-center-row">
        <div class="row">
          <div class="col-sm-offset-4 col-sm-4">
            <form id="signup" method="post" action="{% url 'signup_view' %}">
              {% csrf_token %}

              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}

              {% for field in form.visible_fields %}
              <div class="field-wrapper {% if field.errors %}
                   errors{% endif %}">
                {{ field }}
                <div class="field-errors">
                  {% for error in field.errors %}
                  <p>
                    {{ error| escape }}
                  </p>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
              <button class="tracking-btn" type="submit">
                {% trans "Sign Up" %}
              </button>
            </form>
            <div id="log-in">
              {% trans "Already have an account?" %}
              <a href="/login">
                {% trans "Log In" %}
              </a>.
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block js_block %}
{{ block.super }}
{% endblock %}
