{% extends 'base.html' %}
{% load static %}
{% load pipeline %}

{% block css_block %}
    {{ block.super }}
    {% stylesheet 'subscribe' %}
{% endblock %}

{% block navbar_menu_items %}
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
{% endblock %}


{% block body_block %}
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <h1 id="heading">
            Curious about
            <span id="topic">
              Donald Trump and the Mexican Wall?
            </span>
          </h1>
          <h3 id="call-to-action">
            Get an email when the next big thing happens in
            this ongoing story.
          </h3>
          <div id="subscription-area">
            <form id="subscription">
              <input type="email" placeholder="Your Email Address">
              <button class="btn" type="submit">
                Sign Up
              </button>
            </form>
            <span id="existing-users-login">
              Already have an account?
              <a href="#">Login</a>.
            </span>
          </div>
          <div id="login-area">
            <form id="login">
              <div class="row">
                <div class="col-sm-6">
                  <input type="email" placeholder="Email">
                </div>
                <div class="col-sm-6">
                  <input type="password" placeholder="Password">
                </div>
              </div>
              <button class="btn" type="submit">
                Login
              </button>
            </form>
            <span id="new-users-register">
              Don't have an account?
              <a href="#">Sign Up</a>.
            </span>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block js_block %}
{{ block.super }}
{% javascript 'subscribe' %}
{% endblock %}
