/* color pallete for pingpaper.com

reds
#FF5A5F
#FF7E82

greens
#00A699


greys (from dark to light)
rgb(75, 75, 75)
rgb(125, 125, 125)
rgb(150, 150, 150)
rgb(220, 224, 224)

white
#FFFFFF

*/

body {

  /* ensuring the content in the body does not overlap with the navbar.
  the navbar is 58px tall after all the styles have been applied. */

  padding-top: 58px;

  /* setting the default font to Roboto Condensed and the default color */

  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(75, 75, 75);

  /* make sure there's always some space at the bottom to prevent
     content from touching the bottom edge of the browser */

  padding-bottom: 7em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 3.2em;

  /* increase the spacing between two lines */

  line-height: 1.3;
}

h3 {

  /* increase the spacing between two lines */

  line-height: 1.5em;
}

/* links are green */


a {
  color: #08c;
}

/* get rid of underline and outline on links and change color on hover, focus
   etc. */

a:hover, a:active, a:focus, a:active:focus {
  text-decoration: none;
  outline: none !important;
  color: #08c;
}

/* style for brand text */

.brand {
  color: #FF5A5F !important;
  font-family: 'Comfortaa', cursive;

}

/* change the navbar color to white and add a shadow and border */

.navbar-default {
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  border-bottom: 1px solid rgb(220, 224, 224);
}

/* increase size of brand text in the navbar */

.navbar-default .navbar-brand {

  font-size: 2em;

  /* margin bottom slightly increases the height of the navbar and centers
  the bigger brand text */

  margin-bottom: 0.2em;

}

/* change the color of the brand text on hover and focus
*/

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FF7E82;
}

/* make the menu items grey */

.navbar-default .nav > li > a {
  color: rgb(125,125,125);
}

/* remove outline on hover focus */

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:focus:hover {

  /* get rid of the dotted outline that appears when the menu buttons are
  selected */
  outline: none;
}

.navbar-default .nav > li.dropdown > a > img {
  width: 1.6em;
}

.navbar-default .nav .caret {
  margin-left: 0.5em;
}


/* change color of the three bars in the hamburger */

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(75, 75, 75);
}

/* change color of the three bars in the hamburger under focus and hover */


.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:focus:hover .icon-bar {
}

/* change color of hamburger menu */

.navbar-default .navbar-toggle {
  border-color: #FFFFFF;
  background-color: #FFFFFF;

  /* adjust the margin to center the icon bars vertically within the navbar */

  margin-top: 0.75em;
}

/*  color of hamburger menu under hover and focus should be white */

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:focus:hover {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}

/* prevent the thin line between the navbar and the collapsed menu area
in mobile display */

.navbar-default .navbar-collapse{
  border : 0;
  box-shadow : none;
}

/* button style */

.btn {
  border-radius: 4px;
  background-color: #FF5A5F;
  border: 1px solid: #FF5A5F;
  color: #FFFFFF;
}

/* button style on hover, focus etc. */

.btn:hover, .btn:active, .btn:focus, .btn:active:focus {
  background-color: #FF7E82;
  color: #FFFFFF;
}


.tracking-btn {
  border-radius: 999em;
  background-color: #FFFFFF;
  border: 1px solid #08c;
  color: #08c;
  vertical-align: middle;
  padding: 0 1em 0 1em;
  height: 2em;
  line-height: 1.75em;
  font-size: 1.5em;
}

.tracking-btn:hover,
.tracking-btn:active,
.tracking-btn:focus,
.tracking-btn:active:focus {

}

/* forms */

input {
  background: transparent;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgb(150, 150, 150);
  vertical-align: bottom;
  line-height: 2em;
  font-size: 1.4em;
  width: 100%;
  box-shadow: none;
}

.field-wrapper {
  margin-bottom: 2.5rem;
}

.errors input  {
  border-color: #ff0033;
}

.field-errors > p:first-of-type {
  margin-top: 1em;
}

.field-errors > p:last-of-type {
  margin-bottom: 1em;
}

.field-errors > p {
  color: #ff0033;
}


@media (min-width: 768px) {

  /* styles for tablets and computers */

  body {

    /* ensuring the content in the body does not overlap with the navbar.
    the navbar is 5em tall. */

    padding-top: 5em;
  }

  /* make navbar taller and add a thicker shadow */

  .navbar-default {
    height : 5em;
  }

  /* make brand text bigger and center it vertically in the taller navbar */

  .navbar-default .navbar-brand {
    font-size: 2.6em;
    margin-top: 0.24em;
  }

  /* make menu items bigger and center it vertically in the taller navbar. */

  .navbar-default .nav > li > a {
    line-height: 5em;
    padding: 0 0.5em 0 0.5em;
    font-weight: 500;
    margin: 0 2em 0 2em;
    background-color: transparent !important;
  }

  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:active,
  .navbar-default .nav > li > a:focus,
  .navbar-default .nav > li > a:active:focus {
    color: #08c;
    box-shadow: inset 0px -6px 0px #08c;
    transition : box-shadow 0.2s ease-in-out;
    background-color: transparent !important;
  }

  .navbar-default .nav > li.dropdown > a:hover,
  .navbar-default .nav > li.dropdown > a:active,
  .navbar-default .nav > li.dropdown > a:focus,
  .navbar-default .nav > li.dropdown > a:active:focus {
    box-shadow: none;
  }




}
