body {
  /* the home page for anonymous users have a footer. therefore, we
    don't need additional space at the bottom of the page */
  padding-bottom: 0rem;
}

#slogan {
  margin-top: 12rem ;
  margin-bottom:6rem;
}

#slogan h1 {
  font-size: 6rem;
  color: #FF5A5F;
  font-weight: bold;
  line-height: 8rem;
}

#first-explanation-row {
  margin-top: 10rem;
}

.explanation-row {
  margin-bottom: 10rem;
}

.explanation-text {
  margin-bottom: 1.5rem;

  color: #0088cc;

  font-size: 2.4rem;
  line-height: 3.5rem;
}

.explanation-text-container > p {
  color: rgb(125, 125, 125);

  font-size: 1.8rem;
  line-height: 3rem;
}

#cta {
  /* the margin-bottom from the last .explanation-row and the padding-top of
     this element add upto 18rem */
  padding-top: 8rem;
  padding-bottom: 18rem;
}

#cta-text {
  margin-bottom: 2.5rem;
}

#cta-button {
  font-size: 2.5rem;
}

footer {
  background-color: rgb(75, 75, 75);
  border-top: 1px solid rgb(175, 175, 175);
  box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
}

#footer-logo {
  padding-top: 4rem;
  padding-bottom: 4rem;

  font-family: 'Comfortaa', cursive;
  font-size: 4rem;
  color: #FF5A5F;
}

#footer-text {
  padding-bottom: 2.5rem;
  margin-bottom: 0rem;

  color: rgb(150, 150, 150);
}


@media (min-width: 992px) {
  .explanation-text-container {
    margin-left: 6rem;
  }

  .explanation-text {
    font-size: 2.4rem;
  }

  .explanation-text-container > p {
    font-size: 2rem;
  }
}
