body {
  padding-bottom: 0rem;
}

#slogan {
  margin: 12rem 0rem 6rem 0rem;
}

#slogan h1 {
  font-size: 6rem;
  margin: 0;
  color: #FF5A5F;
  font-weight: bold;
  line-height: 8rem;
}

#explanation {
  /*
  border-top: 1px solid rgb(175, 175, 175);
  border-bottom: 1px solid rgb(175, 175, 175);
  background-color: rgb(250, 250, 250);
  */
}

#first-explanation-row {
  margin-top: 10rem;
}

.explanation-row {
  margin-bottom: 10rem;
}

.explanation-text-container {
  margin-left: 6rem;
}

.explanation-text {
  font-size: 2.4rem;
  color: #0088cc;
  margin-bottom: 1.5rem;
}

.explanation-text-container > p {
  font-size: 2rem;
  color: rgb(125, 125, 125);
}

#cta {
  padding: 8rem 0rem 18rem 0rem;
  border-bottom: 1px solid rgb(175, 175, 175);
}

#cta-text {
  margin: 0rem 0rem 2.5rem 0rem;

}

#cta-button {
  font-size: 2.5rem;
}

footer {
  background-color: rgb(250, 250, 250);
}

#footer-logo {
  padding: 4rem 0rem 4rem 0rem;
  font-family: 'Comfortaa', cursive;
  font-size: 4rem;
  color: #FF5A5F;
}

#footer-text {
  padding-bottom: 1rem;
}
