form {
  margin-bottom: 2em;
}

.tracking-btn {
  margin: 2.2rem 0rem 2.2rem 0;
  font-size: 2.2rem;
}

#forgot-password {
  margin-bottom: 1rem;
  color: rgb(125, 125, 125);
}

#sign-up{
  color: rgb(125, 125, 125);
}
