#main-row {
  margin-top: 8rem;
}

#main-heading {
  font-weight : 700;
  letter-spacing: 0.1rem;
  margin-bottom: 4rem;
}

.story-container {
  padding: 4rem 0rem 4rem 0rem;
  border-top: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
}

.story-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: rgb(75, 75, 75);
}

.publisher {
  color: rgb(150, 150, 150);
}

.badge{
  background: #0088cc;
  font-size: 1.4rem;
}

#delete-icon {
  display: none;
  color: #ff0033;
  font-size: 2rem;
}

#icon-row {
  height: 4rem;
}

.pretty {
  font-size: 1.5rem;
}

.checkbox-container {
  margin-left: 1rem;
}

#empty {
  font-size: 2rem;
  color: rgb(150, 150, 150);
}
